* {
    font-family: 'Inter', sans-serif;
}

/* color refs: https://designpixie.com/blogs/creative-design-ideas/pastel-color-palettes-with-color-codes */
/* should be opposite color */
/* yellow/orange - purple/blue */
/* red - green */

body {
    margin: auto;
    max-width: 800px;
}

#big-ui {
    border-radius: 25px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* idle color*/
    background-color: #f2ebcc;
    /* background-color: #fcdce1;  */
    /* background-color: #f7dde8; */
    /* on going color */
    /* background-color: #c8ceee; */
    /* background-color: #cde3dc;  */
    /* background-color: #cde5d9; */
}

#big-ui-time {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

#big-ui-task,
#big-ui-current-task {
    /* depends on the button height */
    min-height: 36px;
    align-content: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

#task-done-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
    margin: 8px 0px;
    background-color: #c8ceee;
    overflow: hidden;
    border-radius: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
}

button {
    all: unset;
    cursor: pointer;
    background-color: #cde5d9;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 10px;
}